*, *::before, *::after {
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    line-height: normal;
    scrollbar-gutter: auto;
    scrollbar-width: thin;
    line-height: normal;
}

::selection {
    background-color: var(--c-selection);
}

::-moz-selection {
    background-color: var(--c-selection);
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", "Noto Sans Arabic", "Noto Sans Hebrew", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    overflow: clip;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: clip;
}

.tiptap.ProseMirror {
    min-height: 100cqh;
    width: 100%;
    cursor: text;
    display: flex;
    flex-flow: column nowrap;
    gap: .125em;
    padding: 16px 48px 20cqh;
}


*[contenteditable]:not([contenteditable="false"]) {
    -webkit-user-modify: read-write-plaintext-only;

    & * {
        white-space: pre-wrap;
        word-wrap: normal;
        word-break: break-word;
        overflow-wrap: break-word;
    }
}