:root {
    --border-width: 1px;
    --focus-width: 2px;
    --focus-offset: 2px;

    --dc-font-mono: ui-monospace, "Cascadia Code", "SFMono-Regular", Menlo, Consolas, "Liberation Mono", monospace;
    --dc-p-padding-block: .1875em;
    --dc-p-padding-inline: .25em;
}